/*********************************************
              GENERAL LAYOUTS
********************************************/
header{
    padding:5px;
    font-family: 'Permanent Marker', cursive;
    font-size:30px;
    height:500px;
    background: url('../img/pink-white-background.jpg');
    text-align:center;
     
}

header h1{
    margin-top:120px;
}


body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
  
}

.course-information{
    width: 900px;
    margin: 0 auto;
    overflow: auto;
    padding:40px;
}

/**********************************
           SECTION ONE
************************************/
#section-one {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:100px;
    background-color:whitesmoke;
    text-align: left;
    height:700px;
    line-height:30px;
    line-height: 1.6;
 }

#section-one iframe{
   display:flex;
   justify-content: center;
   margin-bottom: 50px;
}


  button {
    width: 300px;
    padding: 20px 0;
    margin-top: 20px;
    margin-left:50px;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color:white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
  }
/*************************************
            SECTION TWO
**************************************/
/*#section-two{
    background-color:pink;
}

#section-two h1{
    font-family: 'Permanent Marker', cursive;
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding:10px;
    font-size: 40px;
    margin-left:600px;
}

.course-information{
    display:flex;
    justify-content: center;
    padding:25px;

}

.point-one{
    width:70%;
    margin-left:30px;
    padding:20px;
    line-height:25px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}

.point-two{
    width:70%;
    margin-left:30px;
    padding:30px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.point-three{
    width:70%;
    margin-left:30px;
    padding:50px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

/************************************
           SECTION THREE
*************************************/

#section-three{
    width: 900px;
    overflow: auto;
    padding:100px;
    margin-left:400px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

#section-three h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    margin-left:100px;
}

#section-three p{
    text-align:left;
    margin-right:350px;
}

/*.social-icons i{

}*/

/***************************************
              FOOTER
****************************************/
#credit{
    text-align:center;
    color:darkviolet;
    padding:50px;
}

#credit a{
    color:black;
}



















































































































